version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.0

jobs:
  example-job:
    docker:
      # replace with your preferred image
      - image: cimg/python:3.10.0
    steps:
      - sonarcloud/scan:
          sonar_token_variable_name: 'SONAR_TOKEN' 
workflows:
  example-workflow:
    jobs:
      - example-job:
          context: SonarCloud
          filters:
            branches:
              only:
                - main
