version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.0

jobs:
  example-job:
    docker:
      # replace with your preferred image
      - image: cimg/base:stable
    steps:
      - sonarcloud/scan:
          sonar_token_variable_name: 'SONAR_TOKEN' 
          cache_version: 1 
workflows:
  example-workflow:
    jobs:
      - example-job:
          context: sonarcloud 
